* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.table-content {
  text-align: center;

  /* height: 30rem; */
}

.table-content td {
  border: 1px solid black;
  padding: 8px;
  border: 2px solid gold;
  width: 100%;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
}

.leaflet-container {
  width: 75%;
  height: 80vh;
}