/* Global CSS */
* {
  margin: 0;
  padding: 0;
}

a {
  color: green;
}

html {
  background-color: #252421;
}

.component-header-container {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

body {
  text-decoration: none;
  color: #252421;
  margin: 0;
  font-family: Roboto;
  background-color: #fce21b;
}

h1 {
  margin: 10px 0px 0px 0px;
  font-family: "Cornerstone";
  word-spacing: -7px;
}

.table-title {
}

h2 {
  margin: 10px 0px 0px 0px;
  font-family: "Cornerstone";
}

h3 {
  margin: 10px 0px 0px 0px;
  font-family: "Cornerstone";
}

nav {
  background-color: #fce21b;
  color: #252421;
  font-family: "Cornerstone";
}

.card-emoji {
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: -20px;
}

.red-line {
  border-bottom: 5px solid #c20008;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 0px;
}

.red-line-long {
  border-bottom: 5px solid #c20008;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 0px;
  margin-left: -6px;
}

.red-line-markers {
  border-bottom: 5px solid #c20008;
  width: 100%;
  margin-bottom: 10px;
}

.red-line-table {
  border-bottom: 5px solid #c20008;
  width: 100%;
  margin-bottom: 10px;
  margin-top: -2px;
  margin-left: -4px;
}

/* .red-line-table { */
/* border-bottom: 50px solid #252421; */
/* width: 408px; */
/* margin-bottom: 10px; */
/* margin-top: -46.5px; */
/* margin-left: -6px; */
/* z-index: 0; */
/* } */

.red-line-resources {
  border-bottom: 5px solid #c20008;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 0px;
  margin-left: -6px;
}

.red-line- {
  border-bottom: 5px solid #c20008;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 0px;
}

.red-line-title {
  border-bottom: 5px solid #c20008;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 0px;
  margin-left: -6px;
}

.white-line {
  border-bottom: 5px solid #ffffff;
  width: 350px;
  margin-bottom: 10px;
  margin-top: -10px;
}

/* table component css */

.table-content {
  text-align: left;
}

th {
  background: white;
  position: sticky;
  top: -2px;
  box-shadow: 0px 3px 0px -1px rgba(0, 0, 0, 1);
  border-top: none;
}

.col-md-4 {
  justify-content: center;
  display: flex;
  align-items: center;
}

@supports (-ms-ime-align: auto) {
  background-clip: padding-box;
}

.table-liveslost {
  font-weight: bold;
}

.table-border {
  border: 2px solid #252421;
  height: 100%;
}
.table-container {
  background-color: white;
  margin-bottom: 30px;
  height: 59vh;
  overflow: scroll;
  border: 3px solid #252421;
  border-bottom: 3px solid #252421;
}

.table-title {
  margin-top: 20px;
  margin-bottom: -6px;
  z-index: 1;
  color: black;
  transition: 1s ease;
}

table.table-content {
  font-family: Roboto;
  border: 3px solid #252421;
  width: 95vw;

  text-align: center;
  border-collapse: collapse;
}

table.table-content td,
table.table-content th {
  border: 1px solid #252421;
  padding: 5px 4px;
}

table.table-content {
  border: 0px;
}

table.table-content tbody td {
  font-size: 13px;
}

table.table-content thead {
  background: #cfcfcf;
  background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #cfcfcf 100%);
  background: -webkit-linear-gradient(
    top,
    #dbdbdb 0%,
    #d3d3d3 66%,
    #cfcfcf 100%
  );
  background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #cfcfcf 100%);
  border-bottom: 3px solid #252421;
}

table.table-content thead th {
  font-size: 15px;
  font-weight: bold;
  color: #252421;
  text-align: center;
}

table.table-content tfoot td {
  font-size: 14px;
}

.table-component {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #fce21b;
  margin-top: 58px;
  padding-bottom: 58px;
}

.card-rights {
  background-color: white;
  z-index: 10;
  width: 100px;
}
.arrow-down {
  border: solid rgba(0, 0, 0, 0.84);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-top: -25px;
  margin-left: 5px;
}

.arrow-container {
  display: inline;
  vertical-align: top;
  line-height: 17px;
}

.black-lives-button {
  margin: 15px 20px 25px 20px;
  background-color: white;
  border: 2px solid #252421;
  border-radius: 1px;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-family: "Cornerstone";
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  height: 100%;
}

.black-lives-button:hover {
  background-color: #ffd500;
  text-shadow: 0px 1px 0px #fce21b;
}

.table-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.table-subheader {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

/* table row style */
.table-row {
  cursor: pointer;
  /* background-color: red; */
}

.table-row:hover {
  cursor: pointer;
  background-color: #fce21b30;
}

/* maps component */

.markers-subheader {
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: center;
}

.Markers-component {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: #fce21b;
  justify-content: center;
  align-items: center;
  color: #252421;
  flex-direction: column;
  margin-top: 58px;
  margin-bottom: -58px;
}

.leaflet-container {
  width: 75%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 2px solid #252421;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  z-index: 0;
}

.Marker-tip {
  margin-top: -24px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.804);
  margin-bottom: 12px;
}
.Marker-tip2 {
  margin-top: -5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.804);
  margin-bottom: 12px;
}

.marker-link {
  text-decoration: none;
  color: #252421;
}

.markers-title {
  margin-top: 20px;
  margin-bottom: -6px;
  text-align: center;
}

.ACLU-link {
  color: #252421;
  text-decoration: underline;
}

.download-button {
  margin: 15px 20px 25px 20px;
  background-color: white;
  border: 2px solid black;
  border-radius: 1px;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-family: "Cornerstone";
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  height: 100%;
  text-decoration: none;
}

.download-button2 {
  margin: 25px 20px 25px 20px;
  background-color: white;
  border: 2px solid black;
  border-radius: 1px;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-family: "Cornerstone";
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  height: 100%;
  text-decoration: none;
}
.download-button2:hover {
  background-color: #ffd500;
  text-shadow: 0px 1px 0px #fce21b;
}

.download-button:hover {
  background-color: #ffd500;
  text-shadow: 0px 1px 0px #fce21b;
}

/* navbar componenent */
.navBar-comp {
  padding-top: 12px;
  height: 57px;
  border-bottom: 4px solid #252421;
  background-color: #252421;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 50;
  display: flex;
  flex-direction: row;
}

.tabContainerBox {
  display: flex;
  align-items: center;
  justify-content: left;
  color: white;
  border-radius: 0%;
  position: fixed;
  top: 0;
}

.tabBox-nav {
  display: flex;
  flex-direction: row;
  margin-top: 13px;
  margin-right: 16px;
  margin-bottom: -4px;
  position: fixed;
  top: 0;
}

.tabBox-main {
  position: fixed;
  margin-left: 8px;
  z-index: 10;
  margin-top: -6px;
  text-decoration: none;
}

.Nav-subtitle {
  font-size: 25px;
  margin-left: -25px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.TabLabel,
.TabLogo {
  color: white;
  margin-left: 30px;
  text-decoration: none;
  word-spacing: 0.25px;
  padding-bottom: 8px;
  padding-right: 24px;
  margin-top: 1px;
  transition: 0.5s ease-in-out;
}

/* HOME */

.Homepage {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: #fce21b;
  justify-content: center;
  align-items: center;
  color: #252421;
  flex-direction: column;
}

.home-purpose {
  margin-top: -5px;
  margin-left: 8px;
  width: 420px;
  text-align: left;
  font-weight: 300;
  font-size: 18px;
}

.Home-subtitle {
  font-size: 40px;
  margin-left: -40px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.Home-Header {
  margin: 20px 0px -20px 100px;
  font-family: "Cornerstone";
  font-size: 80px;
}

.Home-SecondHeader {
  margin-left: -110px;
  margin-top: 0px;
  margin-bottom: 16px;
}

/* Rights */

.Rights {
  display: flex;
  background-color: #fce21b;
  justify-content: center;
  align-items: center;
  color: #252421;
  /* height: 100vh; */
  flex-direction: column;
  margin-top: 60px;
  padding-bottom: 12vh;
}

.rights {
  flex-direction: row;
  display: flex;
}

.rights-title {
  margin-top: 20px;
  margin-bottom: -6px;
}

.rights-subheader {
  margin-top: 10px;
  margin-bottom: -20px;
  text-align: center;
  z-index: 100;
}

.Rights-Header {
  /* position: absolute; */
  margin-top: 1.5rem;

  left: 50%;
  /* transform: translateX(-50%); */
}

.Rights-Sub-Header {
  font-family: "Cornerstone";
  color: tomato;
}

.Rights .Link {
  color: tomato;
  margin: 12rem 1rem;
}

.Rights {
  margin-top: 58px;
  margin-bottom: -58px;
}
.container-fluid .row.rights {
  /* padding-top: 2rem; */
  /* margin-top: 2rem; */
}

/* Resources */

.Resources {
  display: flex;
  background-color: #fce21b;
  justify-content: center;
  align-items: center;
  color: #252421;
  flex-direction: column;
  /* height: 100vh; */
  margin-top: 58px;
  margin-bottom: -58px;
}

.Resources-Header {
  margin: 550px 0px -25px 0px;
  font-family: "Cornerstone";
  font-size: 77px;
}

.resources-title,
.resources-newtitle {
  margin-top: 20px;
  margin-bottom: -6px;
}

.resources-newtitle {
  display: none;
}

.resources-subheader {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.card {
  width: 20rem;
  height: 500px;
  z-index: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: 0.5s ease;
}

.card-rights {
  width: 20rem;
  height: 500px;
  z-index: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: 0.5s ease;
}

.card.rights {
  width: 300px;
  min-height: 400px;
  height: auto;
  z-index: 0;
  padding: 10px;
  margin: 20px 10px 20px 10px;
}

.card-title {
  text-decoration: underline;
}

.card-rights-link {
  text-decoration: none;
}

.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
  transform: scale(1.05);
  transition: transform 1s ease;
}

.card-rights:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
  transform: scale(1.05);
}

.card-text {
  font-size: 0.9em;
  padding: 0.4rem 1.9rem;
  text-align: left;
}

.card-rights-text {
  font-size: 0.9em;
  padding: 0.3rem 2rem;
  text-align: center;
  line-height: 1.2;
}

.card-rights-title {
  font-size: 20px;
  margin-top: 35px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container-fluid .row {
  padding-top: 6rem;
}

.row {
  width: 95vw;
  transition: 0.5s ease;
  display: flex;
  justify-content: center;
}

.overflow {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  padding: 100px 90px 90px;
  height: 70px;
  margin-bottom: -10px;
  margin-top: -20px;
}

.card-img-top {
  transform: scale(1);
  transition: transform 0.5s ease;
}

.card-title {
  font-size: 1.3em;
}

.card-box {
  padding: 0.75;
}

.gallery {
  margin-top: -100px;
}

.card-img,
.card-img-top,
.card-img-bottom {
  flex-shrink: 0;
  width: 100%;
}

/* Media queries */

@media only screen and (min-width: 501px) {
  .tabBox-nav {
    right: 0;
  }

  .tabBox-main {
    left: 0;
  }
}

@media only screen and (max-width: 1250px) {
  .card {
    width: 17rem;
    height: 450px;
  }

  .card-rights {
    width: 17rem;
    height: 450px;
  }

  .rights {
    width: 90vw;
  }

  .card-text {
    font-size: 13px;
  }

  .overflow {
    padding-top: 90px;
    padding-left: 80px;
    padding-right: 80px;
  }

  .card-title {
    margin-top: -10px;
    font-size: 1.1em;
  }
}

@media only screen and (max-width: 1150px) {
  .card {
    margin-bottom: 0px;
  }

  .rights {
    width: 95vw;
  }
  .col-md-4 {
    justify-content: center;
    display: flex;
    align-items: center;
    max-width: 400px;
  }
}
@media only screen and (max-width: 1080px) {
  .rights {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .card.rights {
    width: 1000px;
    height: auto;
    min-height: auto;
    padding-bottom: 40px;
  }

  .col-md-4 {
    max-width: 75vw;
  }
}

@media only screen and (max-width: 1050px) {
  .card {
    width: 15rem;
    height: 500px;
  }

  .card-text {
    font-size: 12.5px;
  }

  .card-title {
    font-size: 1em;
  }

  /* .overflow { */
  /* padding-top: 50px; */
  /* padding-left: 70px; */
  /* padding-right: 70px; */
  /* } */

  .bottomcard {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 1000px) {
  /* .rights-row { */
  /* flex-direction: column; */
  /* } */

  .TabLogo {
    margin-left: 30px;
    padding-right: 15px;
    font-size: 35px;
    margin-top: 3px;
  }

  .TabLabel {
    margin-left: 30px;
    padding-right: 15px;
    font-size: 25px;
  }
}

@media only screen and (max-width: 1000px) {
  /* .row { */
  /* width: 100vw; */
  /* } */
}

@media only screen and (max-width: 900px) {
  /* .row { */
  /* width: 95vw; */
  /* } */

  .card {
    margin-bottom: 20px;
  }

  .table-container {
    width: 80vw;
    border: 3px solid black;
  }

  table.table-content {
    width: 79.7vw;
  }

  .Weapon {
    display: none;
  }

  .Camera {
    display: none;
  }
}

/* Media queries */
@media only screen and (max-width: 800px) {
  .TabLogo {
    font-size: 30px;
    margin-top: 8px;
  }

  .TabLabel {
    font-size: 20px;
    margin-top: 5.5px;
  }
  /*  */
  .Fleeing {
    display: none;
  }
}

/* Media queries */
@media only screen and (max-width: 700px) {
  .TabLogo {
    font-size: 30px;
    margin-top: 8px;
  }

  .rights-subheader {
    width: 80vw;
  }

  .TabLabel {
    font-size: 17px;
    margin-top: 7px;
    margin-left: 20px;
  }

  .markers-subheader {
    width: 70vw;
  }

  .Home-Header {
    font-size: 60px;
    margin-left: 20%;
  }

  .Home-subtitle {
    font-size: 20px;
    margin-left: -31px;
  }

  .Home-SecondHeader {
    font-size: 1.5rem;
    margin-left: 20%;
    padding-right: 20%;
  }

  .home-purpose {
    width: 350px;
    margin-left: 25%;
    font-family: 14px;
    margin-top: -13px;
  }
}

/* Media queries */
@media only screen and (max-width: 600px) {
  .TabLogo {
    font-size: 30px;
    margin-top: 8px;
  }

  .TabLabel {
    font-size: 15px;
    margin-top: 8px;
    margin-left: 5px;
  }

  .table-subheader {
    width: 80vw;
  }

  .resources-title {
    display: none;
  }

  .resources-newtitle {
    display: flex;
  }
  .red-line-resources {
    border-bottom: 5px solid #c20008;
  }

  .resources-title {
    font-size: 40px;
  }
  .table-title {
    font-size: 2em;
    margin-top: 35px;
  }

  .resources-newtitle {
    font-size: 2em;
    margin-top: 35px;
  }

  .rights-title {
    font-size: 2em;
    margin-top: 35px;
  }
  .markers-title {
    font-size: 2em;
    margin-top: 35px;
  }
  .red-line-title {
    width: 300px;
  }
  .red-line {
    margin-bottom: 10px;
  }

  .red-line-long {
    margin-bottom: 10px;
  }

  .red-line-markers {
    margin-bottom: 10px;
  }

  .red-line-table {
    margin-top: 1px;
  }

  .red-line- {
    border-bottom: 5px solid #c20008;
  }
}

/* Media queries */
@media only screen and (max-width: 500px) {
  .black-lives-button {
    padding: 6px 12px;
    text-decoration: none;
    height: 100%;
  }

  .download-button {
    margin-top: -20px;
    padding: 6px 12px;
  }

  .table-buttons {
    flex-direction: column;
  }

  .tabBox-main .TabLogo {
    font-size: 30px;
    position: fixed;
    margin-left: 0px;
    padding-right: 0px;
    text-align: center;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .TabLogo {
    left: initial;
    right: initial;
    margin-left: 0px;
  }

  .tabBox-nav {
    font-size: 15px;
    margin-top: 45px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    left: initial;
    right: initial;
    margin-right: 0px;
  }
  .navBar-comp {
    padding-top: 12px;
    height: 82px;
    border-bottom: 4px solid #252421;
    background-color: #252421;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 50;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .tabContainerBox {
    justify-content: center;
    margin: 0;
    left: initial;
    right: initial;
  }
  .Logo {
    margin-left: -10px;
  }
  .TabLabel {
    margin-right: 2px;
    margin-left: 2px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .markers-subheader {
    width: 80vw;
  }

  .markers-title {
    margin-top: 32px;
  }

  .download-button2 {
    display: none;
  }

  .Marker-tip {
    display: none;
  }

  .Logo {
    justify-content: center;
    display: flex;
  }

  .App {
    background-color: #fce21b;
  }
  .Homepage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -15px;
    margin-right: 40px;
  }

  .Home-Header {
    font-size: 40px;
    margin-left: 10%;
    padding-right: 0%;
  }

  .Home-subtitle {
    font-size: 20px;
    margin-left: -20px;
  }

  .Home-SecondHeader {
    font-size: 1.25em;
    margin-left: 10%;
    padding-right: 0%;
    margin-top: 2px;
  }

  .home-purpose {
    width: 80vw;
    margin-left: 10%;
    padding-right: 0%;
    font-family: 12px;
    margin-top: -13px;
    text-align: center;
  }

  .resources-title {
    font-size: 30px;
  }
}

@media only screen and (max-width: 400px) {
  .resources-subheader {
    width: 80vw;
  }

  .resources-newtitle {
    font-size: 26px;
    margin-top: 35px;
  }
  .table-title {
    font-size: 26px;
    margin-top: 35px;
  }

  .rights-title {
    font-size: 26px;
    margin-top: 35px;
  }
  .markers-title {
    font-size: 26px;
    margin-top: 35px;
  }
  .red-line-title {
    width: 100%;
    border-bottom: 2.5px solid #c20008;
    margin-top: 2.5px;
  }
  .red-line {
    margin-top: 2.5px;
    border-bottom: 2.5px solid #c20008;
  }

  .red-line-resources {
    border-bottom: 2.5px solid #c20008;
    margin-top: 2.5px;
  }

  .red-line-long {
    margin-top: 2.5px;
    border-bottom: 2.5px solid #c20008;
  }

  .red-line-markers {
    margin-top: 2.5px;
    border-bottom: 2.5px solid #c20008;
  }

  .red-line-table {
    border-bottom: 2.5px solid #c20008;
    margin-top: 2.5px;
  }

  .red-line- {
    margin-top: 2.5px;

    border-bottom: 2.5px solid #c20008;
  }
}
/*  */
@media only screen and (max-width: 300px) {
  .Home-Header {
    display: none;
  }

  .Home-SecondHeader {
    margin-top: -50px;
  }
}
