/* Global CSS */
* {
  margin: 0;
  padding: 0;
}

body {
  text-decoration: none;
  color: black;
  margin: 0;
  font-family: Roboto;
}

h1 {
  margin: 10px 0px 0px 0px;
  font-family: "Cornerstone";
}

h2 {
  margin: 10px 0px 0px 0px;
  font-family: "Cornerstone";
}

nav {
  background-color: #fce21b;
  color: black;
  font-family: "Cornerstone";
}

.black-line {
  border-bottom: 3px solid black;
  width: 350px;
  margin-bottom: 10px;
  margin-top: -10px;
}

.white-line {
  border-bottom: 5px solid #ffffff;
  width: 350px;
  margin-bottom: 10px;
  margin-top: -10px;
}

/* table component css */

.table-content {
  text-align: center;
}

.table-title {
  margin-top: 50px;
}
table.table-content {
  font-family: Roboto;
  border: 3px solid #000000;
  width: 95vw;
  text-align: center;
  border-collapse: collapse;
}
table.table-content td,
table.table-content th {
  border: 1px solid #000000;
  padding: 5px 4px;
}
table.table-content tbody td {
  font-size: 13px;
}
table.table-content thead {
  background: #cfcfcf;
  background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #cfcfcf 100%);
  background: -webkit-linear-gradient(
    top,
    #dbdbdb 0%,
    #d3d3d3 66%,
    #cfcfcf 100%
  );
  background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #cfcfcf 100%);
  border-bottom: 3px solid #000000;
}
table.table-content thead th {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}
table.table-content tfoot td {
  font-size: 14px;
}

.table-component {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.arrow-down {
  border: solid rgba(0, 0, 0, 0.84);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-top: -25px;
  margin-left: 5px;
}

.arrow-container {
  display: inline;
  vertical-align: top;
  line-height: 17px;
}

.black-lives-button {
  margin: 15px 20px 25px 20px;
  background-color: #fce21b;
  border: 2px solid black;
  border-radius: 1px;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-family: "Cornerstone";
  font-size: 15px;
  font-weight: bold;

  padding: 6px 24px;
  text-decoration: none;
}

.black-lives-button:hover {
  background-color: #ffd500;
  text-shadow: 0px 1px 0px #fce21b;
}

.table-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table-subheader {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* table row style */
.table-row {
  cursor: pointer;
  /* background-color: red; */
}

.table-row:hover {
  cursor: pointer;
  background-color: rgba(190, 190, 190, 1);
}

/* maps component */

.markers-title {
  margin-top: 100px;
}

.download-button {
  margin: 15px 20px 35px 20px;
  background-color: white;
  border: 2px solid black;
  border-radius: 1px;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-family: "Cornerstone";
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
}

.download-button:hover {
  filter: invert(1);
}

.markers-subheader {
  margin-top: 5px;
  margin-bottom: 20px;
}

.Markers-component {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: #fce21b;
  justify-content: center;
  align-items: center;
  color: black;
  flex-direction: column;
  margin-top: -45px;
}

.leaflet-container {
  width: 75%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 2px solid rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
}
.Marker-tip {
  margin-top: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.804);
}

/* navbar componenent */
.tabContainerBox {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  color: black;
  border-bottom: 4px solid black;
  position: fixed;
  background-color: white;
  border-radius: 0%;
  z-index: 5;
}

.tabBox:hover {
  background-color: rgb(238, 238, 238);
}

.TabLabel {
  color: black;
  margin: 14px 20px 10px 20px;
  text-decoration: none;
  word-spacing: 0.25px;
}

/* HOME */

.Homepage {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: #fce21b;
  justify-content: center;
  align-items: center;
  color: black;
  flex-direction: column;
  margin-top: -45px;
}

.Home-subtitle {
  font-size: 40px;
  margin-left: -40px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.Home-Header {
  margin: 10px 0px -20px 0px;
  font-family: "Cornerstone";
  font-size: 80px;
}

.Home-SecondHeader {
  margin-left: 52px;
  margin-top: -10px;
}

/* MEDIA */

.Media {
  display: flex;
  background-color: #fce21b;
  justify-content: center;
  align-items: center;
  color: black;
  margin-top: -45px;

  height: 100vh;

  flex-direction: column;
}

/* Resources */

.Resources {
  display: flex;
  background-color: #fce21b;
  justify-content: center;
  align-items: center;
  color: black;
  flex-direction: column;
  height: 95vh;
}

.Resources-Header {
  margin: 0px 0px -25px 0px;
  font-family: "Cornerstone";
  font-size: 77px;
}

.card {
  width: 20rem;
  height: 550px;
  z-index: 0;
  margin-top: 20px;
}

.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
  transform: scale(1.05);
  transition: transform 1s ease;
}

.card-text {
  font-size: 0.9em;
  padding: 0.4rem 1.9rem;
}

.container-fluid .row {
  padding-top: 6rem;
}

.overflow {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  padding: 70px 70px 70px;
  height: 150px;
}

.card-img-top {
  transform: scale(1);
  transition: transform 0.5s ease;
}

.card-title {
  font-size: 1.3em;
}

.card-box {
  padding: 0.75;
}

.gallery {
  margin-top: -100px;
}
